* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  z-index: 2;
}

.header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
  padding-left: calc(20px + 50 * (100vw - 768px) / 1152);
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: calc(50px + 250 * (100vw - 768px) / 1152);
  margin-left: calc(50px + 250 * (100vw - 768px) / 1152);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header__list a {
  color: #525254;
  font-size: 18px;
  padding: 10px 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.header__list a:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__list a::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #525254;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger {
  display: none;
}

.header-logo__main {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.header-logo__sub {
  font-size: 10px;
}

.slogan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-slogan {
  padding-top: 50px;
  padding-bottom: 100px;
}

.hero-slogan__logo {
  padding-left: 75px;
}

.hero-slogan__text {
  max-width: 560px;
}

.hero-main {
  background-image: url(../img/main/main-bg.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 48px -18px #C5894D, inset 0px 0px 7px rgba(197, 137, 77, 0.2);
          box-shadow: 0px 0px 48px -18px #C5894D, inset 0px 0px 7px rgba(197, 137, 77, 0.2);
}

.hero-main__title {
  padding-top: 350px;
  padding-bottom: 450px;
  max-width: 500px;
  margin: 0 auto;
  color: #FAFAFA;
  text-align: center;
}

.hero-main__title h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-main__title span {
  font-size: 28px;
}

.preferences {
  padding-top: 110px;
  padding-bottom: 130px;
}

.preferences__title {
  font-size: 24px;
  letter-spacing: 0.06;
  text-align: center;
  margin-bottom: 140px;
}

.preferences__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preferences__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.preferences__item_inner {
  overflow: hidden;
  max-height: 863px;
  border-radius: 25px;
  margin-bottom: 40px;
}

.preferences__image {
  max-width: calc(380px + 120 * (100vw - 1200px) / 720);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.preferences__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.preferences__image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.preferences__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: calc(24px + 12 * (100vw - 1200px) / 720);
}

.preferences__description {
  font-size: calc(18px + 6 * (100vw - 1200px) / 720);
}

.footer {
  height: calc(250px + 140 * (100vw - 320px) / 1600);
  background: url(../img/main/footer-bg.png) center/cover no-repeat;
  position: relative;
  padding-top: calc(110px + 50 * (100vw - 1200px) / 1600);
}

.footer_opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(247, 247, 247, 0.4);
}

.footer__row {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 125px;
}

.footer__link {
  font-weight: 500;
  font-size: 18px;
  padding: 30px 57px;
  background-color: #FAFAFA;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover {
  background-color: #c0c0c0;
}

.team-slogan {
  padding-right: 60px;
  padding-top: 120px;
}

.team-slogan__row {
  position: relative;
  padding-bottom: 90px;
}

.team-slogan__row::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(82, 82, 84, 0.4);
}

.team-slogan__title {
  max-width: 400px;
  padding-left: 90px;
}

.team-slogan__text {
  max-width: 560px;
}

.doctors {
  padding-top: 70px;
  padding-bottom: 150px;
}

.doctors__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 90px;
  padding-left: 50px;
}

.member + .member {
  margin-top: 260px;
}

.member:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.member:nth-child(even) .member__text {
  text-align: right;
  margin-right: 50px;
}

.member__image {
  border-radius: 25px;
  overflow: hidden;
}

.member__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.member__text {
  max-width: calc(500px + 410 * (100vw - 1200px) / 720);
  padding-top: 50px;
  margin-left: 50px;
}

.member__name {
  margin-bottom: 60px;
}

.services-slogan {
  padding-top: 120px;
}

.services-slogan__text {
  max-width: 560px;
}

.services {
  padding-top: 90px;
  padding-bottom: 250px;
}

.services__description {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.services__grid {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 170px;
  justify-items: center;
  grid-auto-rows: 1fr;
}

.services__item {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  max-width: 500px;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr minmax(20px, auto);
}

.services__image {
  border-radius: 16px;
  overflow: hidden;
}

.services__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.services__name {
  margin: 30px 0;
  font-size: calc(18px + 10 * (100vw - 320px) / 880);
}

.services__price {
  font-size: 32px;
  background-color: #F6F6F6;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  width: 220px;
}

.reviews-slogan {
  padding-top: 50px;
}

.reviews-slogan__title {
  padding-left: 100px;
}

.reviews-slogan__row {
  position: relative;
  padding-bottom: 50px;
}

.reviews-slogan__row::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(82, 82, 84, 0.4);
}

.contacts {
  padding-bottom: 50px;
  padding-top: 80px;
}

.contacts__row {
  padding-left: 80px;
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.contacts__title {
  font-size: 28px;
}

.contacts__info {
  font-size: 22px;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone_span {
  display: block;
  margin-bottom: 15px;
}

.contacts__phone_link {
  position: relative;
}

.contacts__phone_link::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../img/contacts/phone.svg) center no-repeat;
}

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__address address {
  max-width: 380px;
  font-style: normal;
}

.contacts__address_span {
  display: block;
  margin-bottom: 15px;
}

.contacts__map {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.contacts__map_laptop {
  display: none;
}

.contacts__map_mobile {
  display: none;
}

.contacts__link_inst {
  position: relative;
  font-size: 16px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__link_inst::before {
  content: "";
  display: block;
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
  width: 24px;
  height: 24px;
  background: url(../img/contacts/inst.svg) center no-repeat;
}

.wrapper {
  font-family: "Lora", serif;
  color: #525254;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 92px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.text {
  font-size: 20px;
  line-height: 1.5;
}

.title {
  font-weight: 500;
  font-size: 40px;
}

@media (min-width: 1200px) {
  .services-slogan__title {
    padding-left: 100px;
  }
}

@media (max-width: 1200px) {
  .preferences__image {
    max-width: 280px;
  }

  .team-slogan {
    padding-right: 0px;
    padding-top: 50px;
  }

  .team-slogan__title {
    padding-left: 0;
  }

  .team-slogan__text {
    max-width: 500px;
  }

  .member {
    padding: 0;
  }

  .member__text {
    max-width: calc(400px + 100 * (100vw - 992px) / 208);
  }

  .services {
    padding-top: calc(50px + 40 * (100vw - 320px) / 880);
    padding-bottom: calc(150px + 100 * (100vw - 320px) / 880);
  }

  .services-slogan {
    padding-top: calc(50px + 70 * (100vw - 320px) / 880);
  }

  .services__grid {
    grid-row-gap: calc(50px + 110 * (100vw - 320px) / 880);
  }

  .services__item {
    max-width: calc(300px + 100 * (100vw - 650px) / 550);
  }

  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .hero-slogan__logo {
    padding-left: 0;
    margin-right: 80px;
  }

  .preferences__image {
    max-width: 250px;
  }

  .team-slogan__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }

  .team-slogan__title {
    max-width: none;
    text-align: center;
    margin-bottom: 30px;
  }

  .team-slogan__text {
    max-width: none;
  }

  .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .member + .member {
    margin-top: 120px;
  }

  .member:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .member:nth-child(even) .member__text {
    text-align: left;
    margin-right: 0;
  }

  .member__text {
    padding-top: 20px;
    margin: 0;
    max-width: none;
    padding-right: 20px;
  }

  .member__name {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .services-slogan__title {
    margin-bottom: 30px;
  }

  .contacts {
    padding-top: calc(30px + 50 * (100vw - 320px) / 672);
  }

  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-bottom: calc(30px + 70 * (100vw - 320px) / 672);
  }

  .contacts__phone {
    margin-bottom: calc(20px + 20 * (100vw - 320px) / 672);
  }

  .contacts__link_inst {
    padding-left: calc(10px + 30 * (100vw - 320px) / 672);
  }

  .container {
    max-width: 840px;
  }
}

@media (max-width: 800px) {
  .preferences__title {
    padding: 0 20px;
  }

  .preferences__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .preferences__item + .preferences__item {
    margin-top: calc(30px + 70 * (100vw - 320px) / 480);
  }

  .preferences__image {
    max-width: 400px;
  }

  .preferences__subtitle {
    font-size: 36px;
    text-align: center;
  }

  .preferences__description {
    font-size: 24px;
    text-align: center;
  }

  .footer__row {
    padding: 0 30px;
  }

  .contacts__map {
    display: none;
  }

  .contacts__map_laptop {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: calc(30px + 30 * (100vw - 500px) / 300);
  }
}

@media (max-width: 768px) {
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px;
  }

  .header__menu {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #A6CCB3;
    padding-top: 92px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow: auto;
    margin-left: 0;
  }

  .header__menu.active {
    top: 0;
    left: 0;
  }

  .header__burger {
    width: 30px;
    height: 20px;
    display: block;
    position: relative;
    z-index: 3;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger span {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-color: #000;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header__burger:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header__burger:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header__list {
    display: block;
    padding-left: 30px;
  }

  .header__list li {
    margin-left: 0;
    margin-bottom: 20px;
  }

  body.lock {
    overflow: hidden;
  }

  .hero-main {
    background-position: -300px;
  }

  .container {
    max-width: none;
  }

  .main {
    padding-top: 70px;
  }
}

@media (max-width: 700px) {
  .services__grid {
    grid-template-columns: 1fr;
  }

  .services__item {
    max-width: none;
  }
}

@media (max-width: 530px) {
  .footer {
    height: 350px;
  }

  .footer__row {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__link + .footer__link {
    margin-top: 30px;
  }

  .contacts__map_laptop {
    display: none;
  }

  .contacts__map_mobile {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: calc(30px + 20 * (100vw - 320px) / 210);
  }
}

@media (max-width: 520px) {
  .slogan__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero-slogan {
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .hero-slogan__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .hero-slogan__text {
    max-width: none;
    text-align: center;
  }
}

@media (max-width: 510px) {
  .hero-main__title {
    max-width: none;
  }

  .hero-main__title h1 {
    font-size: 40px;
  }

  .hero-main__title span {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .preferences__image {
    max-width: calc(250px + 100 * (100vw - 320px) / 180);
  }

  .preferences__subtitle {
    font-size: calc(18px + 10 * (100vw - 320px) / 180);
  }

  .preferences__description {
    font-size: calc(14px + 4 * (100vw - 320px) / 180);
  }

  .member + .member {
    margin-top: 90px;
  }

  .member__description {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .hero-main {
    background-position: -460px;
  }
}

.webp .hero-main { background-image: url(../img/main/main-bg.webp); }

.webp .footer { background: url(../img/main/footer-bg.webp) center/cover no-repeat; }